<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!--     <filter>
        <filter-name>Admin</filter-name>
        <filter-class>Filters.Admin</filter-class>
    </filter>
    <filter>
        <filter-name>Customer</filter-name>
        <filter-class>Filters.Customer</filter-class>
    </filter>
    <filter>
        <filter-name>Menu</filter-name>
        <filter-class>Filters.Menu</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Menu</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Customer</filter-name>
        <url-pattern>/history</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Admin</filter-name>
        <url-pattern>/recordTrans</url-pattern>
    </filter-mapping> -->
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>Filters.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>Filters.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/recordTrans.jsp</url-pattern>
        <url-pattern>/managerProduct.jsp</url-pattern>
        <url-pattern>/dashboard.jsp</url-pattern>
        <url-pattern>/edit</url-pattern>
        <url-pattern>/delete</url-pattern>
        <url-pattern>/insert</url-pattern>
        <url-pattern>/ManagerProduct</url-pattern>
        <url-pattern>/dashboard</url-pattern>
        <url-pattern>/recordTrans</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/history</url-pattern>
        <url-pattern>/customer.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controllers.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>details</servlet-name>
        <servlet-class>Controllers.details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>Controllers.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Controllers.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category</servlet-name>
        <servlet-class>Controllers.Category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProduct</servlet-name>
        <servlet-class>Controllers.ManagerProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchManager</servlet-name>
        <servlet-class>Controllers.SearchManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>Controllers.delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insert</servlet-name>
        <servlet-class>Controllers.insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit</servlet-name>
        <servlet-class>Controllers.edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Controllers.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDetails</servlet-name>
        <servlet-class>Controllers.CartDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>Controllers.checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>record</servlet-name>
        <servlet-class>Controllers.record</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recordTrans</servlet-name>
        <servlet-class>Controllers.recordTrans</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboard</servlet-name>
        <servlet-class>Controllers.dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>history</servlet-name>
        <servlet-class>Controllers.history</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart4Acc</servlet-name>
        <servlet-class>Controllers.Cart4Acc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeStatus</servlet-name>
        <servlet-class>Controllers.changeStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerData</servlet-name>
        <servlet-class>Controllers.CustomerData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chart</servlet-name>
        <servlet-class>Controllers.chart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sort</servlet-name>
        <servlet-class>Controllers.Sort</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProduct</servlet-name>
        <servlet-class>Controllers.ManageProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sort</servlet-name>
        <url-pattern>/Sort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProduct</servlet-name>
        <url-pattern>/ManageProduct</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>details</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category</servlet-name>
        <url-pattern>/Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProduct</servlet-name>
        <url-pattern>/ManagerProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchManager</servlet-name>
        <url-pattern>/SearchManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insert</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDetails</servlet-name>
        <url-pattern>/CartDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>record</servlet-name>
        <url-pattern>/record</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recordTrans</servlet-name>
        <url-pattern>/recordTrans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>history</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart4Acc</servlet-name>
        <url-pattern>/Cart4Acc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeStatus</servlet-name>
        <url-pattern>/changeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerData</servlet-name>
        <url-pattern>/CustomerData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chart</servlet-name>
        <url-pattern>/chart</url-pattern>
    </servlet-mapping>
</web-app>
